.vs/
*.nupkg
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.bak
*.cache
*.ilk
*.log
*.obj
*.pch
*.pdb
*.exp
*.lib
*.exe
*.dll
*.so
*.dylib
*.a
*.o
*.tlog
*.lastbuildstate
*.unsuccessfulbuild

Debug/
Release/
x64/
x86/
Win32/
Bin/
Obj/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

allegro5/lib/
allegro5/bin/
*.tmp
*.temp

.DS_Store
Thumbs.db